<meta name="twitter:site"    content="Faingezicht.com">
<meta name="twitter:creator" content="@avyfain">

{% if page.main_image %}
    <meta name="twitter:image" content="{{ site.image_path }}{{ page.main_image }}">
    <meta property="og:image"  content="{{ site.image_path }}{{ page.main_image }}">
{% endif %}

<meta name="twitter:url"   content="{{site.url}}{{ page.url | append: '@@@' | replace: '/@@@', '' }}">
<meta property="og:url"    content="{{site.url}}{{ page.url | append: '@@@' | replace: '/@@@', '' }}">
<meta property="og:type"   content="article">
<meta property="fb:app_id" content="302981936527866">