<meta name="twitter:card"        content="photo">
<meta name="twitter:title"       content="{{ page.title }}">
<meta property="og:title"        content="{{ page.title }}">

<meta name="twitter:description" content="{{ page.description | default: page.excerpt | markdownify | strip_html }}">
<meta property="og:description" content="{{ page.description | default: page.excerpt | markdownify | strip_html }}"/>
<meta name="description" content="{{ page.description | default: page.excerpt | markdownify | strip_html }}"/>
