---
layout: default
title: Home
---

<div class="posts">
  {% if paginator.page == 1 %}
    <h1>
      Latest Posts
    </h1>
  {% endif %}

  {% for post in paginator.posts %}
  <div class="post">
    <h2 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h2>

    {% if post.articles %}
      {% for article in post.articles %}
        <ul>
          <li>
            <a href="{{ article.url }}">
              {{ article.title }}
            </a>
          </li>
        </ul>
      {% endfor %}
    {% else %}
      <span class="post-date">{{ post.date | date: "%B %-d, %Y" }}</span>    
      {% if post.main_image %}
        <img src="{{ site.image_path}}{{ post.main_image }}" alt="{{post.title}}"/>
      {% endif %}
      <p>{{ post.description }}</p>
      <p><a href="{{ post.url }}">
          Read more...
        </a></p>
    {% endif %}
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>