---
layout: default
title: Home
i18n-link: index
---


<div class="posts">
  {% for post in paginator.posts %}
    {% include post_preview.html page=post %}
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">
        {{ site.data.lang_map[page.lang]['newer'] }}
      </a>
    {% else %}
      <a class="pagination-item newer" href="{{paginator.previous_page_path}}">
        {{ site.data.lang_map[page.lang]['newer'] }}
      </a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">
      {{ site.data.lang_map[page.lang]['newer'] }}
    </span>
  {% endif %}
    {% if paginator.next_page %}
    <a class="pagination-item older" href="{{paginator.next_page_path}}">
      {{ site.data.lang_map[page.lang]['older'] }}
    </a>
  {% else %}
    <span class="pagination-item older">
      {{ site.data.lang_map[page.lang]['older'] }}
    </span>
  {% endif %}
</div>

{{ site.data.lang_map[page.lang]['subscribe'] }}
{% include subscribe_form.html %}