---
layout: default
title: Home
---

{% if paginator.page == 1 %}
  <div class="centered temp-banner">
    <h2>Looking for Outside Lands photos?</h2>
    <p>I still need to edit them, but, for now, take a look at my shots from <a href="/photos/2016/08/15/outside-lands-v2/">2016</a>, or <a href="/photos/2015/08/09/outside-lands/">2015</a>. I think you'll enjoy them ✌️</p>
  </div>
{% endif %}


<div class="posts">
  {% for post in paginator.posts %}
    {% include post_preview.html page=post %}
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
    {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
</div>

Would you like to get content like this directly in your inbox? Sign up below:
{% include subscribe_form.html %}
