{{ include.page.content }}
<ul>
{% for article in include.page.articles %}
  <li>
    <a href='{{ article.url }}' onclick="trackOutboundLink('{{ article.url }}'); return true;" target="_blank">
      {{ article.title }}
    </a>
    {% if article.author or article.source %}
    </br>
    <small><em>
      {% if article.author %}
        {{article.author}}
      {% endif %}
      {% if article.author and article.source %}
      -
      {% endif %}
      {% if article.source %}
        {{article.source}}
      {% endif %}
    </em></small></br>
    {% endif %}
    {% if article.note %}
        <div class="note"><small>{{ article.note }}</small></div>
    {% endif %}

  </li>
{% endfor %}
</ul>