<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@avyfain">
<meta name="twitter:creator" content="@avyfain">
<meta name="twitter:title" content="{{ page.title }}">
<meta name="twitter:description" content="{{ page.excerpt | default: page.description | strip_html }}">
<meta name="twitter:image" content="{{ site.image_path }}{{ page.main_image }}">

<meta property="og:url"    content="{{site.url}}{{ page.url | append: '@@@' | replace: '/@@@', '' }}"/>
<meta property="og:type"   content="article" />
<meta property="og:title"  content="{{ page.title }}">
<meta property="fb:app_id" content="302981936527866" />
{% if page.main_image %}
    <meta property="og:image"  content="{{ site.image_path}}{{ page.main_image }}" />
{% endif %}
