<meta name="twitter:card" content="photo" />
<meta name="twitter:site" content="@avyfain">
<meta name="twitter:creator" content="@avyfain">
<meta name="twitter:title" content="Photography - {{ page.title }}">
<meta name="twitter:url" content="{{ page.url }}">
<meta name="twitter:image" content="{{ site.image_path }}{{ page.main_image }}" />

<meta property="og:url"   content='{{ page.url }}'/>
<meta property="og:type"  content="article" />
<meta property="og:title" content="Photography - {{ page.title }}">
<meta property="og:image" content="{{ site.image_path}}{{ page.main_image }}" />
