<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@avyfain">
<meta name="twitter:creator" content="@avyfain">
<meta name="twitter:title" content="{{ page.title }}">
<meta name="twitter:description" content="Round up of links on startups and economics, plus random thoughts. Arguments generally supported by data."/>

<meta property="og:url"         content='{{site.url}}{{ page.url }}'/>
<meta property="og:type"        content="article" />
<meta property="og:title"       content="{{ page.title }}">
<meta property="og:description" content="Round up of links on startups and economics, plus random thoughts. Arguments generally supported by data."/>