{{ include.page.content }}

{% if include.full %}
    {% for img in include.page.photos %}
        <div class="{{img.class | default: 'photo'}}">
            <a href='{{ site.image_path }}{{ img.url }}' onclick="trackOutboundLink('{{ article.url }}'); return true;">
              <img src="{{ site.image_path }}{{ img.preview_url | default: img.url}}"
                   alt="{{ img.title }}"/>
            </a>
            {% if img.caption %}
                <small>{{img.caption}}</small>
                </br></br>
            {% endif %}
        </div>
    {% endfor %}
    Want to see more photos like these? Sign up below:
    {% include subscribe_form.html %}
{% else %}
    <a href='{{include.page.url}}'>More...</a>
{% endif %}

