{{% post = include.page %}}

<div class="post">
  <a href='{{ post.url }}'>
    <h2 class="post-title">{{ post.title }}</h2>
  </a>
  {% if post.articles == null or post.show_date %}
    <span class="post-date">{{ post.date | date: "%B %-d, %Y" }}</span>
  {% endif %}

  {% if post.main_image %}
  <a href='{{ post.url }}'>
    <img class="{{img.class | default: 'photo'}}"
         src="{{ site.image_path }}{{ post.main_image }}"
         alt="{{ post.title }}">
  </a>
  {% endif %}

  {% if post.description %}
    {{ post.description | markdownify }} <a href='{{ post.url }}'>Continue reading...</a>
  {% elsif post.articles %}
    {% include_cached links.html page=post %}
  {% elsif post.photos %}
    {% include_cached photo.html page=post %}
  {% elsif post.excerpt | markdownify  %}
    {{ post.excerpt}} <a href='{{ post.url }}'>Continue reading...</a>
  {% else %}
    {{ post.content }}
  {% endif %}
</div>