{{% post = include.page %}}

<div class="post">
  <a href='{{ post.url }}'>
    <h2 class="post-title">{{ post.title }}</h2>
  </a>
  {% if post.articles == null %}
    <span class="post-date">{{ post.date | date: "%B %-d, %Y" }}</span>
  {% endif %}

  {% if post.main_image %}
  <a href='{{ post.url }}'>
    <img class="{{img.class | default: 'photo'}}"
         src="{{ site.image_path }}{{ post.main_image }}"
         alt="{{ post.title }}">
  </a>
  {% endif %}

  {% if post.description %}
    {{ post.description }} <a href='{{ post.url }}'>Continue reading...</a>
  {% elsif post.articles %}
    {% include links.html page=post %}
  {% elsif post.photos %}
    {% include photo.html page=post %}
  {% elsif post.excerpt %}
    {{ post.excerpt}} <a href='{{ post.url }}'>Continue reading...</a>
  {% else %}
    {{ post.content }}
  {% endif %}
</div>