.article-link {
    margin-bottom: 10px;
}

.footnotes p {
    font-size: 12px;
}

.footnotes li {
    font-size: 12px;
}

.temp-banner {
	background-color: #aec6cf;
	text-align: center;
    vertical-align: middle;
    padding: 15px;
    margin-bottom: 30px;
}