---
layout: compress
---

<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

  {% include head.html %}

  <body>
    {% include sidebar.html %}
    <div class="content container">
      {{ content }}
    </div>
    <script>
    function init() {
        var imgDefer = document.getElementsByTagName('img');
        for (var i=0; i < imgDefer.length; i++) {
            if(imgDefer[i].getAttribute('data-src')) {
                imgDefer[i].setAttribute('src', imgDefer[i].getAttribute('data-src'));
            }
        }
    }
    window.onload = init;
    </script>
  </body>

  {% include foot.html %}
</html>
