---
layout: default
---

<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@avyfain">
<meta name="twitter:creator" content="@avyfain">
<meta name="twitter:title" content="{{ page.title }}">
<meta name="twitter:description" content="Round up of links on startups and economics, plus random thoughts. Arguments generally supported by data."/>

<meta property="og:url"         content='{{ page.url }}'/>
<meta property="og:type"        content="article" />
<meta property="og:title"       content="{{ page.title }}">
<meta property="og:description" content="Round up of links on startups and economics, plus random thoughts. Arguments generally supported by data."/>
{% if page.main_image %}
    <meta property="og:image" content="{{ site.image_path}}{{ page.main_image }}" />
{% endif %}

<div class="post">

  <a href='{{ page.url }}'>
    <h1 class="post-title">Links - {{ page.date | date: "%B %-d, %Y" }}</h1>
  </a>

  {% if page.main_image %}
    <img src="{{ site.image_path}}{{ page.main_image }}" alt="{{page.title}}"/>
  {% endif %}

  {% include links.html page=page %}

  Like what you see? Sign up below:
  {% include subscribe_form.html %}
</div>