---
layout: default
---

<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@avyfain">
<meta name="twitter:creator" content="@avyfain">
<meta name="twitter:title" content="{{ page.title }}">
<meta name="twitter:description" content="View the Links on Faingezicht.com" />

<div class="post">

  <a href='{{ page.url }}'>
    <h1 class="post-title">Links - {{ page.date | date: "%B %-d, %Y" }}</h1>
  </a>

  {% if page.main_image %}
    <img src="{{ site.image_path}}{{ page.main_image }}" alt="{{page.title}}"/>
  {% endif %}

  {% include links.html page=page %}
</div>