---
layout: default
meta: post
footnote_location: my_footnotes
---
<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>

  <span class="post-date">{{ page.date | date: "%B %-d, %Y" }}</span>

  {% if page.hide_main_image %}
  {% elsif page.main_image and page.main_image contains 'http' %}
  <a href='{{ page.url }}'>
    <img src="{{ page.main_image }}"
         alt="{{ page.title }}"
         id="main_image"/>
  </a>
  </br>
  {% elsif page.main_image%}
  <a href='{{ page.url }}'>
    <img src="{{ site.image_path }}{{ page.main_image }}"
         alt="{{ page.title }}"
         id="main_image"/>
  </a>
  </br>
  {% endif %}
  {{ page.content }}

  {% include related.html %}
  {% if page.hide_signup %}
  {% else %}
    <p>Want to see more articles like this? Sign up below:</p>
    {% include subscribe_form.html %}
  {% endif %}

</div>